@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
:root {
    --primary-color: #7dcfba;
    --secondary-color: #5c815f;
}

* {
    box-sizing: border-box;
}

body {
    background-color: linear-gradient var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 100;
    padding: 50px 50px;
}

header {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-radius: 1000px;
    display: block;
    text-align: center;
    font-size: 60px;
}

.search {
    background-color: transparent;
    border: 8px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1 rem;
    padding: .5rem 1 rem;
    color: rgb(183, 138, 138);
    text-align: center;
}

.search::placeholder {
    color: #0e0e0f;
}

.search:focus {
    outline: none;
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 300px;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background-color: var(--primary-color);
    padding: .25rem .5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: rgb(108, 177, 108)
}

.movie-info span.orange {
    color: rgb(204, 155, 62)
}

.movie-info span.red {
    color: rgb(208, 96, 96)
}

.overview {
    background-color: white;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 90%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}

.likes {
    padding: 2 rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-radius: 50px;
    display: block;
    text-align: center;
    font-size: 20px;
    color: rgb(4, 3, 37);
    font-family: Arial, Helvetica, sans-serif;
    margin: 1 rem;
}

#movieBar {
    display: flex;
    justify-content: space-around;
}

#movieformbar {
    /* display: flex;
    justify-content: flex-start; */
    display: flex;
    justify-content: end;
    background-color: yellow;
    border: 5px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1 rem;
    padding: 5 rem 5 rem;
    color: black;
    text-align: center;
    height: 300px;
    width: 1000px
}